* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #220d3d;
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

/* Header */
header {
    background-color: #10081d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 70px;
}

.logo h1, a {
    font-family: "American Typewriter, serif";
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    color: rgb(150, 110, 64);
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 90px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

H2 {
    font-size: 50px;
    margin: 50px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* altura da tela menos o header */
}

/* Inputs com cor adaptada ao tema escuro */
.cadastro input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #441b5c;
    color: white;
    font-size: 14px;
}

.cadastro input::placeholder {
    color: #853baf;
}

/* botão do cadastro */
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #6a2685; /* Roxo suave */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

/* Hover: mudança suave de cor */
button:hover {
    background-color: #34165c;
    transform: scale(1.05); /* Dá um efeito de "zoom" no botão */
}

/* Clique: efeito de "pressionado" */
button:active {
    background-color: #5a166e; /* Cor de fundo mais escura */
    transform: scale(0.98); /* Leve redução de tamanho */
}

 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

H3 {
    font-size: small;
    margin-top: 15px;
}

/* botão de criar conta  */
.criarConta {
    width: 50%;
    padding: 12px;
    margin-top: 5px;
    background-color: #290636; /* Roxo suave */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

/* Hover: mudança suave de cor */
.criarConta:hover {
    background-color: #9011da;
    transform: scale(1.05); /* Dá um efeito de "zoom" no botão */
}

/* Clique: efeito de "pressionado" */
.criarConta:active {
    background-color: #121218; /* Cor de fundo mais escura */
    transform: scale(0.98); /* Leve redução de tamanho */
}
.login {
    align-items: center;
    background-color: #7a1c8d;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 420px;
    text-align: center;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #434b58;
    color: white;
    font-size: 14px;
}

.form-container input::placeholder {
    color: #9ca3af;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: height 0.3s ease;
    padding-top: 40px;
}

.form-container {
    width: 100%;
    max-width: 420px;
    background-color: #1f022c;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.form-container.active {
    display: block;
    opacity: 1;
    transform: scale(1);
}
